<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_csv_import_root"
              name="CSV Import"
              web_icon="ametras_fast_import_addon,static/description/icon.png"
              sequence="90"/>

    <menuitem id="menu_csv_import_main"
              name="Import"
              parent="menu_csv_import_root"
              action="action_csv_import_vue_app"
              sequence="1"/>

    <menuitem id="menu_csv_import_profiles"
              name="Profiles"
              parent="menu_csv_import_root"
              action="action_csv_import_profiles"
              sequence="2"/>

    <menuitem id="menu_csv_import_logs"
              name="Logs"
              parent="menu_csv_import_root"
              action="action_csv_import_logs"
              sequence="3"/>
</odoo>
